<div id='profile' class='content-wrapper clear'>
    <div class='heading'>
        <h2>Christian</h2>
        <span>"Hard work <br> makes it easy"</span>
    </div>
    <div class='container'>
        <div class='info'>
            <p>
               Hi guys, I'm Christian. I'm 16 years old and I'm pursuing an Electronic Music Production and Sound Desing Degree from Berklee School of Music.
Let's see a bit about me. I launched a Kickstarter project which was funded (awesome!). 
In 2013 I directed, shot and edited a short film titled "The Spy Who Coded" Which will be integrated to SingPath an online game.
I love music and have written three mini-musicals (Mini cuz they were 15 mins long).
I play the piano, drums, guitar, bass, harmonica and the accordion. I'm working on my violin as well and hope to also start learning the saxophone soon! 
It's rather cool too. 
I also enjoy making and editing movies and music in iMovie, and GarageBand. Ohh I have an album called <a href="https://open.spotify.com/album/0IKh7mAOHAyuBveiPHOjNP">RELICS</a> on Spotify. Do check it out!
            </p>
        </div>
        <div class='img'>
            <img src="images/Christian.jpg" width='90%' />
        </div>
    </div>
</div>
pg
